:root {
  --transition-duration: 0.2s;

  /* Цвета */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-dark-1: #1E1E1E;
  --color-dark-2: #2C2C2C;

  --color-gray-1: #F5F5F5;
  --color-gray-2: #D9D9D9;
  --color-gray-3: #B3B3B3;
  --color-gray-4: #757575;

  /* Рамка */
  --border: 1px solid var(--color-gray-2);
  --border-radius: 8px;

  --input-height: 40px;

  --box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);
}