.todo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 24px;

  height: 404px;
  width: 429px;

  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  padding: 24px;

  &__title {
    font-size: 24px;
  }
}