.field {
  --fieldInputPaddingX: 16px;
  --fieldInputPaddingY: 12px;
  --fieldSeachInputIconSize: 16px;

  height: var(--input-height);
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding-left: var(--fieldInputPaddingX);
  padding-block: var(--fieldInputPaddingY);


  &::placeholder {
    color: var(--color-gray-3);
  }

  &:focus {
    background-color: var(--color-gray-1);
    outline: none;
  }

  &.has-icon:placeholder-shown {
    padding-right: calc(var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize));
    background-image: url('../../assets/icons/icon-search_black.svg');
    background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
    background-size: var(--fieldSeachInputIconSize);
    background-repeat: no-repeat;
  }
}

input.field[type='search']::-webkit-search-cancel-button {
  padding-right: 12px;
}